html {
    box-sizing: border-box;
    height: 100%;
}

*,
::after,
::before {
    box-sizing: inherit;
}

$ff-medium : 'Gilroy-Medium';
$ff-bold : 'Gilroy-Bold';
$fz-primary : 18px;
$fz-secondary : 34px;
$color-primary : #070707;
$color-secondary : #828282;

body {
    font-family: $ff-medium;
    font-size: $fz-primary;
    color: $color-primary;
    line-height: 22px;
    text-align: center;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

// Header
.header {
    .container {
        max-width: 975px;
        padding: 0 15px;
        margin: 0 auto;
    }

    .menu {
        padding: 32px 0;
    }

    ul {
        display: flex;
        justify-content: space-between;
    }

    a {
        text-decoration: none;
        color: $color-secondary;
        font-family: $ff-bold;

        &:hover {
            color: $color-primary;
        }
    }

    hr {
        margin: 0;
        border: 0;
        height: 1px;
        background-color: $color-secondary;
    }

}