html {
    box-sizing: border-box;
    height: 100%;
}

*,
::after,
::before {
    box-sizing: inherit;
}

$ff-medium : 'Gilroy-Medium';
$ff-bold : 'Gilroy-Bold';
$fz-primary : 18px;
$fz-secondary : 34px;
$color-primary : #070707;
$color-secondary : #828282;

body {
    font-family: $ff-medium;
    font-size: $fz-primary;
    color: $color-primary;
    line-height: 22px;
    text-align: center;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    display: block;
    width: 100%;
}

p {
    margin: 0;
}

h2 {
    margin: 0;
}

// Header
.container {
    max-width: 975px;
    padding: 0 15px;
    margin: 0 auto;
}

.header {
    .menu {
        padding: 32px 0;
    }

    ul {
        display: flex;
        justify-content: space-between;
    }

    a {
        color: $color-secondary;
        font-family: $ff-bold;

        &:hover {
            color: $color-primary;
        }
    }

    hr {
        margin: 0;
        border: 0;
        height: 1px;
        background-color: $color-secondary;
    }

}

// Main

// Profile
.profile {
    margin-bottom: 104px;
}

.profile__inner {
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
        font-size: 46px;
        line-height: 59px;
    }

    .employee {
        display: flex;
        flex-direction: column;
        text-align: start;
    }

    .languages {
        font-family: $ff-bold;
        font-size: 16px;
        line-height: 20px;
        writing-mode: vertical-rl;
        transform: rotate(180deg);
    }
}

// AboutMe

.aboutme {
    padding: 120px 0 107px;
    background-color: #F6F6F6;

    h2 {
        margin: 0 auto;
        padding-bottom: 17px;
    }

    .aboutme__text {
        padding: 0 15px;
        max-width: 485px;
        margin: 0 auto;
        text-align: center;
    }
}

// Skills
.skills {
    padding: 91px 0 110px;

    p {
        margin-top: 69px;
    }

    .skills__programs {
        margin: 83px auto 110px;
    }

    .skills__cards {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        gap: 90px;


    }

    .skills__icon {
        width: 166px;
        height: 206px;
    }


}

// Portfolio

.portfolio {
    background-color: #F6F6F6;
    padding: 113px 0 96px;

    .portfolio__inner {
        margin-top: 50px;
    }

    .portfolio__item {
        margin-bottom: 100px;

        img {
            padding-bottom: 45px;
        }

        a {
            text-decoration-line: underline;
        }
    }
}

//   Footer
.footer {
    background-color: #FFFFFF;
    padding: 115px 0 120px;

    h2 {
        margin-bottom: 20px;
    }

    p {
        margin-bottom: 20px;
    }

    .button__feedback {
        background: #070707;
        color: #FFFFFF;
        padding: 10px 30px;
        border: 0;
        border-radius: 50px;
        margin-bottom: 85px;

        &:hover {
            box-shadow: 0px 4px 4px rgba(49, 47, 47, 0.806);
            cursor: pointer;
        }
    }

    .footer__social {
        margin-bottom: 45px;
    }

    .social__items {
        display: flex;
        justify-content: center;
        gap: 60px;

        & :hover {
            fill: #828282;
        }
    }

    .social__icon {
        width: 40px;
        height: 40px;

    }

    span {
        font-size: 14px;
        line-height: 17px;
        color: #828282;
    }
}

// up button
#myBtn {
    display: none;
    /* Скрыто по умолчанию */
    position: fixed;
    /* Фиксированное / липкое положение */
    bottom: 20px;
    /* Поместите кнопку в нижней части страницы */
    right: 30px;
    /* Разместить кнопку 30 пикселей от правого */
    z-index: 99;
    /* Убедитесь, что он не перекрывается */


    cursor: pointer;
    /* Добавить указатель мыши при наведении */
    padding: 15px;
    /* Немного отступов */
    border-radius: 10px;
    /* Округленные углы */
    font-size: 18px;
    /* Увеличить размер шрифта */
    width: 100px;
    height: 100px;
}